// Bouncing in loop - for arrows (examples)
.bounce {
	-webkit-animation: bounce 2s;
	        animation: bounce 2s;
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		        transform: translateY(-20px);
	}
	60% {
		-webkit-transform: translateY(-12px);
		        transform: translateY(-12px);
	}
}



// transitions for any element
* {
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -ms-transition:     all 0.4s ease;
  -o-transition:      all 0.4s ease;
}

// transitions for Homepage Grid Images
.hpIntro li img {
  transition: transform 10s ease;
}

// transitions for Homepage Grid Images on hover
.hpIntro li:hover img {
  transform: scale(1.2);
  transition: transform 10s ease;
}